body {
  width: 100%;
  height: 100vh;
}
.loading-final-year {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
}
.text-sm{
  font-size: 70%;
}
.text-grey{
  color:grey
}
.bg-sky{
    background: #58A8CD;
}
.text-sky{
  color: #58A8CD;
}
.text-orange{
  color: #CD9042;
}