.my-card {
  padding: 20px;
  border-radius: 5px;
}
.chart {
  background: white;
  display: flex;
  justify-content: center;
}
.highlight {
  color: white;
  background-color: skyblue;
  border-radius: 50px;
}
