.bg-sky{
    background: #58A8CD;
}
.bg-orange{
    background: #CD9042;
}
.text-orange{
    color: #CD9042;
}
.machine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #58A8CD;
    font-weight: bold;
    color: white;
}
.machine-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.machine-no{
    border-radius: 25px;
    padding: 7px;
    color: white;
}
.img-graph{
    width: 70%;
    height: 45vh;
    border-radius: 3px;
}
.chart{
    width: 100%;
    display: flex;
    justify-content: center;
}