.my-card{
    padding: 20px;
    border-radius: 5px;
}
.chart{
    background: white;
    display: flex;
    justify-content: center;
}
.fc .fc-list-table td,
  .fc .fc-list-day-cushion{
      padding: 3px 3px !important;
  }